  <h1>Blog Posts</h1>
<%= link_to "Create Your Own Blog", new_blog_path, class: "btn" %> </p>


  <% @blogs.each do |blog| %>
    <div class="blog-post">
      <h2 class="blog-title"><%= blog.title %></h2>
      <p class="blog-content"><%= truncate(blog.content, length: 150) %></p>
      <p class="blog-details"><strong>Author:</strong> <%= blog.tutor.first_name %> | <strong>Skill:</strong> <%= blog.skill.name %> <%= link_to "Read", blog_path(blog), class: "btn btn-primary read-more-btn" %></p>
    </div>

  <% end %>
