<h2>Students</h2>
  <div class="row">
    <% @students.each do |student| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <% if student.profile_image.present? %>
            <%= image_tag student.profile_image, class: "card-img-top", alt: student.first_name %>
          <% else %>
            <div class="placeholder-image"></div>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= "#{student.first_name} #{student.last_name} - #{student.phone_number}" %></h5>
            <p class="card-text"><%= student.bio %></p>
            <%# <p class="card-text"><%= tutor.tutor_reviews</p> %>
            <%= link_to "Show More", student_path(student), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
