<h1>Create Student Account</h1>

<%= simple_form_for @student do |form| %>
  <%= form.input :first_name %>
  <%= form.input :last_name %>
  <%= form.input :phone_number %>
  <%= form.input :bio %>
  <%= form.input :photo, as: :file %>


  <%= form.button :submit, "Create Student Account" %>
<% end %>
