 <div class="form-column">
    <div id="signup-section">
      <%= simple_form_for @student do |f| %>
        <div class="form-inputs">
          <h1>Create Student Account</h1>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
           <%= f.input :photo, as: :file %>
          <%= f.input :phone_number %>
          <%= f.input :bio, as: :text %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Create Student Account", class: "btn-submit" %>
        </div>
      <% end %>
    </div>
  </div>

<% if @student.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

    <ul>
    <% @student.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
