 <div class="form-column">
    <div id="signup-section">
      <%= simple_form_for @student do |f| %>
        <div class="form-inputs">
          <h1>Create Student Account</h1>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :profile_image, as: :file %>
          <%= f.input :phone_number %>
          <%= f.input :bio, as: :text %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Create Student Account", class: "btn-submit" %>
        </div>
      <% end %>
    </div>
  </div>
