<div class="container text-center">
  <div class="student-profile">
    <% if @student.profile_image.present? %>
      <%= image_tag @student.profile_image, class: "profile-picture img-fluid rounded-circle" %>
    <% else %>
      <%= image_tag "default_profile_picture.jpg", class: "profile-picture img-fluid rounded-circle" %>
    <% end %>
    <h2><%= @student.first_name %> <%= @student.last_name %></h2>
    <div class="student-details">
      <p><strong>Contact:</strong> <%= @student.phone_number %></p>
    </div>

    <div class="student-bio">
      <h3>About Me</h3>
      <p><%= @student.bio %></p>
    </div>

    <%= link_to 'Back', student_path(@student), class: "btn btn-secondary" %>
  </div>
</div>
