
<div class="student-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1610484826967-09c5720778c7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80);">
    <div class="container-inner">
      <h1><strong>Unlock Your Learning Potential With</strong> FindATutor</h1>
      <p>Discover a World of Learning Opportunities and unlock your potential.</p>
    </div>
</div>

<div class="location-card-container">
  <div class="header text-center py-4">
    <h2 class="display-4">Find Tutor by Location</h2>
  </div>

  <div class="card-grid">
    <%= link_to tutors_path(location: "Johannesburg"), class: "location-card" do %>
      <div class="card-background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://img.sixt.com/1600/Cape_Town_%7C_in_TYPO_cape-town-city-content.jpg')">
        <div class="location-name">Johannesburg</div>
      </div>
    <% end %>

    <%= link_to tutors_path(location: "Durban"), class: "location-card" do %>
      <div class="card-background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://www.sa-venues.com/attractionskzn/gallery/greaterdurban/1b.jpg')">
        <div class="location-name">Durban</div>
      </div>
    <% end %>

    <%= link_to tutors_path(location: "Cape Town"), class: "location-card" do %>
      <div class="card-background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Aerial_View_of_Sea_Point%2C_Cape_Town_South_Africa.jpg/1200px-Aerial_View_of_Sea_Point%2C_Cape_Town_South_Africa.jpg')">
        <div class="location-name">Cape Town</div>
      </div>
    <% end %>

    <%= link_to tutors_path(location: "Port Elizabeth"), class: "location-card" do %>
      <div class="card-background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://lp-cms-production.imgix.net/2019-06/478157521_full.jpg')">
        <div class="location-name">Port Elizabeth</div>
      </div>
    <% end %>

    <%= link_to tutors_path(location: "Polokwane"), class: "location-card" do %>
      <div class="card-background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://interestingfacts.co.za/wp-content/uploads/2022/09/Polokwane.jpg')">
        <div class="location-name">Polokwane</div>
      </div>
    <% end %>

    <%= link_to tutors_path(location: "Stellenbosch"), class: "location-card" do %>
      <div class="card-background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://upload.wikimedia.org/wikipedia/commons/f/f4/Stellenbosch_University.jpg')">
        <div class="location-name">Stellenbosch</div>
      </div>
    <% end %>
  </div>
</div>



  <div class="text-center py-4">
    <h2 class="display-4">Browse all tutors</h2>
  </div>

    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: tutors_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Type a keyword"
            %>
          <%= submit_tag "Find Tutor", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>



    <div class="row">
      <% @tutors.each do |tutor| %>
        <div class="col-md-3">
          <div class="tutor-card mb-4">
            <% if tutor.photo.attached? %>
              <%= image_tag tutor.photo, class: "tutor-img", alt: tutor.first_name %>
            <% else %>
              <div class="placeholder-image"></div>
            <% end %>
            <div class="tutor-info">
              <h5 class="tutor-name">
                <strong><%= tutor.first_name %> <%= tutor.last_name %></strong> - <%= tutor.location %>
              </h5>
              <p class="tutor-availability">Available: <%= tutor.availability %></p>
              <p class="tutor-skills">Skills: <%= tutor.skills.map(&:name).join(", ") %></p>
              <%= link_to "Show More", tutor_path(tutor), class: "btn btn-primary tutor-btn" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>



    <div class="container-skill">
      <a class="btn btn-gradient" href="#">HTML</a>
      <a class="btn btn-gradient" href="#">CSS</a>
      <a class="btn btn-gradient" href="#">JavaScript</a>
      <a class="btn btn-gradient" href="#">DOM Manipulation</a>
      <a class="btn btn-gradient" href="#">CSS Frameworks</a>
      <a class="btn btn-gradient" href="#">Responsive Design</a>
      <a class="btn btn-gradient" href="#">UI Design Principles</a>
    </div>

    <div class="spacer"></div>
