
<div class="student-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1610484826967-09c5720778c7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80);">
    <div class="container-inner">
      <h1><strong>Unlock Your Learning Potential With</strong> Find A Tutor</h1>
      <p>Discover a World of Learning Opportunities and unlock your potential.</p>
    </div>
</div>

<div class="container">

  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: tutors_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Find Tutor", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% @tutors.each do |tutor| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <% if tutor.photo.attached? %>
            <%= image_tag tutor.photo, class: "card-img-top", alt: tutor.first_name %>
          <% else %>
            <div class="placeholder-image"></div>
          <% end %>
          <div class="card-body">
  <h5 class="card-title">
    <strong><%= tutor.first_name %> <%= tutor.last_name %></strong> - <%= tutor.location %>
  </h5>
  <p class="card-text">Available: <%= tutor.availability %></p>
  <%= link_to "Show More", tutor_path(tutor), class: "btn btn-primary" %>
</div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container-skill">
    <a class="btn btn-gradient" href="#">HTML</a>
    <a class="btn btn-gradient" href="#">CSS</a>
    <a class="btn btn-gradient" href="#">JavaScript</a>
    <a class="btn btn-gradient" href="#">DOM Manipulation</a>
    <a class="btn btn-gradient" href="#">CSS Frameworks</a>
    <a class="btn btn-gradient" href="#">Responsive Design</a>
    <a class="btn btn-gradient" href="#">UI Design Principles</a>
  </div>

  <div class="spacer"></div>

  <h4>Find Tutor by Location</h4>


  <div class="cards">
    <%= link_to tutors_path(location: "Johannesburg") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.sixt.com/1600/Cape_Town_%7C_in_TYPO_cape-town-city-content.jpg)">
        Johannesburg
      </div>
    <% end %>

    <%= link_to tutors_path(location: "Durban") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.sa-venues.com/attractionskzn/gallery/greaterdurban/1b.jpg)">
        Durban
      </div>
    <% end %>

    <%= link_to tutors_path(location: "Cape Town") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Aerial_View_of_Sea_Point%2C_Cape_Town_South_Africa.jpg/1200px-Aerial_View_of_Sea_Point%2C_Cape_Town_South_Africa.jpg)">
        Cape Town
      </div>
    <% end %>

    <%= link_to tutors_path(location: "Port Elizabeth") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://lp-cms-production.imgix.net/2019-06/478157521_full.jpg)">
        Port Elizabeth
      </div>
    <% end %>

    <%= link_to tutors_path(location: "Pretoria") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://interestingfacts.co.za/wp-content/uploads/2022/09/Polokwane.jpg)">
        Polokwane
      </div>
    <% end %>

    <%= link_to tutors_path(location: "Bloemfontein") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/f/f4/Stellenbosch_University.jpg)">
        Stellenbosch
      </div>
    <% end %>
  </div>
</div>
