<div class="main-container-tutor-show">
  <%= cl_image_tag @tutor.photo.key, :gravity=>"face", :height=>300, :width=>300, :crop=>"fill", class:"tutor-show-avatar" %>
  <div class="tutor-show-info">
    <h2><%= "#{@tutor.first_name} #{@tutor.last_name}" %></h2>
    <p>
      <% @tutor.skills.each do |skill| %>
        <%= skill.name %>
      <% end %>
    </p>
    <p><%= "Location: #{@tutor.location}" %></p>
    <p><%= "Email Address: #{@tutor.email_address}" %></p>
    <div class="tutor-show-reviews">
      <p>Reviews</p>
      <p>4.5</p>
      <h3>Bio</h3>
      <p><%= @tutor.bio %></p>

    </div>

    <%= link_to "Message", student_chatrooms_path(student_id: current_user.id, tutor_id: @tutor.id), data: {turbo_method: :post}, class: "btn btn-primary" %>
    <%= link_to "Request Lesson", new_lesson_path, class: "btn btn-primary" %>

  </div>

</div>
