<div class="container mt-5">
  <h1 class="text-center"><strong>Chatroom</strong></h1>

  <div class="row mt-5">
    <div class="col-lg-8 offset-lg-2">

      <div class="card">
        <div class="card-body-chatroom" id="chatroom">
          <% @chatroom.messages.each do |message| %>
            <div class="message">
              <p class="content"><%= message.content %></p>
              <div class="meta">
                <p class="sender">From: <%= message.sender.class.name %> (<%= message.sender.email %>)</p>
                <p class="timestamp text-muted"><small>Sent at: <%= message.created_at.strftime('%Y-%m-%d %H:%M:%S') %></small></p>
              </div>
              <hr/>
            </div>
          <% end %>
        </div>
      </div>

      <div class="alert alert-info mt-3">
        <p>Please Take Note That This Chatroom Prohibit Any Use Of Offensive Language.</p>
      </div>

      <%= form_with model: [@chatroom, @message], id: "message-form", remote: true, html: { class: "mt-3" } do |form| %>
        <div class="input-group">
          <%= form.text_field :content, placeholder: "Type your message...", class: "form-control", aria_label: "Type your message..." %>
          <div class="input-group-append">
            <%= form.submit "Send", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<script>
  // Handle the incoming messages from the WebSocket connection
  document.addEventListener('DOMContentLoaded', function() {
    const chatroomElement = document.getElementById('chatroom');

    App.chat = App.cable.subscriptions.create({
      channel: 'ChatChannel',
      chatroom_id: <%= @chatroom.id %>
    }, {
      received: function(data) {
        const messageElement = document.createElement('div');
        messageElement.innerHTML = data.message;
        chatroomElement.appendChild(messageElement);
      }
    });

    // Submit the message form via AJAX when submitted
    const messageForm = document.getElementById('message-form');
    messageForm.addEventListener('submit', function(event) {
      event.preventDefault();
      const content = event.target.querySelector('input[type="text"]').value;

      // Use the perform function to send data to the server
      App.chat.perform('speak', { message: content });

      event.target.reset();
    });
  });
</script>
