<%= form_tag your_action_path, method: :post do %>
  <div>
    <%= label_tag :bidding_price, "Bidding Price:" %>
    <%= number_field_tag :bidding_price, nil, required: true %>
  </div>
  <div>
    <%= label_tag :time, "Time:" %>
    <%= text_field_tag :time, nil, required: true %>
  </div>
  <div>
    <%= label_tag :skill, "Skill:" %>
    <%= text_field_tag :skill, nil, required: true %>
  </div>
  <div>
    <%= submit_tag "Submit Bid" %>
  </div>
<% end %>
