<div class="lessons-container">
  <% @lessons.each do |lesson| %>
    <div class="lesson">
      <p><strong>Skills:</strong> <%= lesson.skill.name %></p>
      <p><strong>Date:</strong> <%= lesson.date %></p>
      <p><strong>Time Lesson:</strong> <%= lesson.time %></p>
      <p><strong>Amount Offered:</strong> <%= lesson.amount_offered %></p>
      <p><strong>Tutor:</strong> <%= lesson.tutor.first_name %> <%= lesson.tutor.last_name %></p>
      <%= link_to "Message", student_chatrooms_path(student_id: current_user.id, tutor_id: lesson.tutor_id), data: { turbo_method: :post }, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
