<div class="form-container">
  <%= simple_form_for [@tutor, @lesson] do |f| %>
    <div>
      <%= f.input :date, as: :date, required: true %>
    </div>
    <div>
      <%= f.input :time, as: :time, required: true %>
    </div>
    <div>
      <%= f.label :amount_offered, "Price (in South African Rands):" %>
      <%= f.input :amount_offered, required: true, input_html: { step: 0.01 } %>
    </div>
    <div>
      <%= f.label :skill, "Skill:" %>
      <%= f.collection_select(:skill_id, Skill.all, :id, :name) %>
    </div>
    <%# <div class="notes-section">
      <%= f.label :notes, "Notes:" %>
      <%# <%= f.text_area :notes, rows: 4, required: false, class: "form-control" %>
    <%# </div> %>
    <div class="submit-section">
      <%= f.button :submit, "Submit Bid" %>
    </div>
  <% end %>
</div>
